<div class="banner">
    <div class="cont">
        <app-menu></app-menu>
        <div class="contHeader">
            <h1 class="t2h">Servicios de desarrollo</h1>
        </div>
    </div>
</div>

<div class="contBody">
    <div class="contLb">
        <div class="txt">
            <h2>LO QUE HACEMOS</h2>
        </div>
        <hr>
    </div>
    <div class="contDesc">
        <p>
            Nuestro trabajo es analizar las problemáticas presentadas por una persona o entidad y dar la mejor solución posible basada en software con el fin de mejorar e innovar los procesos que están siendo afectados.
        </p>
    </div>
    <div class="cont">
        <div class="dt">
            <div class="dtd">
                <div class="cdt">
                    <div class="cdti">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icons8-web-design-96.png" alt="">
                    </div>
                    <div class="cdtt">
                        <h3>DISEÑO WEB</h3>
                    </div>
                    <div class="cdtb">
                        <p>
                            Diseño web creativo y adaptado a tu marca personal, de producto o servicios enfocado a ayudarte a mejorar tu posición en el mercado. Una buena página web te ayudará a conseguir los clientes que necesitas.
                        </p>
                    </div>
                </div>
                <div class="cdt">
                    <div class="cdti">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icons8-android-96.png" alt="">
                    </div>
                    <div class="cdtt">
                        <h3>DESARROLLO MÓVIL</h3>
                    </div>
                    <div class="cdtb">
                        <p>
                            El mercado de las aplicaciones móviles cada vez es más grande superando por mucho al de las aplicaciones web. Muchas empresas están migrando a sus tiendas en línea a aplicaciones móviles que les permite llegar a más clientes.
                        </p>
                    </div>
                </div>
                <div class="cdt">
                    <div class="cdti">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icons8-server-96.png" alt="">
                    </div>
                    <div class="cdtt">
                        <h3>SERVIDORES</h3>
                    </div>
                    <div class="cdtb">
                        <p>
                            Si lo que deseas es tener tu propio cloud dentro de tu empresa, yo te puedo ayudar, la instalación de servidores dentro o fuera de las organizaciones cada vez son más típicas por la necesidad de tener toda su información segura en un mismo lugar.
                        </p>
                    </div>
                </div>
            </div>
            <div class="dtd imgC">
                <img src="https://innotech-company.github.io/InnTech/assets/img/movil.png" alt="" class="imgDtd">
            </div>
            <div class="dtd">
                <div class="cdt cdtAW">
                    <div class="cdti">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icons8-web-96.png" alt="">
                    </div>
                    <div class="cdtt">
                        <h3>APLICACIONES WEB</h3>
                    </div>
                    <div class="cdtb">
                        <p>
                            Diseño y desarrollo aplicaciones web que te pueden ayudar a mejorar los procesos internos de tu empresa, olvídate de los sistemas de escritorio viejos y demasiado costosos al momento de actualizarlos y darles mantenimiento. Las aplicaciones web mejoran
                            por mucho la rentabilidad de un sistema.
                        </p>
                    </div>
                </div>
                <div class="cdt">
                    <div class="cdti">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icons8-backend-development-96.png" alt="">
                    </div>
                    <div class="cdtt">
                        <h3>DESARROLLO BACKEND</h3>
                    </div>
                    <div class="cdtb">
                        <p>
                            Si lo que buscas es quién haga toda la parte del servidor, estás en el lugar indicado. Puedo desarrollar toda la parte del backend de tu proyecto y tú, dedicarte únicamente al frontend de tu app o página web.
                        </p>
                    </div>
                </div>
                <div class="cdt">
                    <div class="cdti">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icons8-technical-support-96.png" alt="">
                    </div>
                    <div class="cdtt">
                        <h3>SOPORTE TÉCNICO</h3>
                    </div>
                    <div class="cdtb">
                        <p>
                            Porque nos conociste como "los que reparan computadoras", es por eso que no dejamos de lado el apartado del mantenimiento de equipos de computo, cableado estructurado, etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>