<div class="contHeader">
    <h1>CENTINELA APP</h1>
</div>
<div class="contBody">
    <div class="contDescPage">
        <h2>Centinela</h2>
        <p>
            Centienla es un proyecto de IoT (Internet of Thing) de la categoría smart home, un proyecto de seguridad para el hogar.
        </p>
    </div>
    <div class="contDescPage">
        <h3>Sobre el proyecto</h3>
        <p>
            El objetivo del proyecto es ofrecer un sistema de seguridad para el hogar, escuelas, oficinas y aquellos lugares donde se es poco viable contratar equipos de seguridad privada. Centinela es un conjunto de tecnologías que con la ayuda de Arduino hemos
            podido desarrollarlo con tota satisfacción.
        </p>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="imgProject">
                <img src="../../../../assets/img/Centinela/centinela1.jfif" alt="" class="imgAcrol">
            </div>
            <div class="descProject">
                <h3>Inicio de sesión</h3>
                <br>
                <p>
                    Centinela permite autenticar usuarios mediante un registro previo así como también a través del uso de sus redes sociales, en este caso de Facebook y plataformas como Google.
                </p>
            </div>
        </div>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="descProject">
                <h3>Vista principal</h3>
                <br>
                <p>
                    En la vista principal podremos ver una lista general de los registros que los sensores de movimiento y próximidad nos van generando a lo largo del día. Aquí podemos ver información tal como la fecha y hora en que el sensor detecto algo, así mismo el lugar
                    donde se encuentra dicho sensor.
                </p>
            </div>
            <div class="imgProject">
                <img src="../../../../assets/img/Centinela/centinela2.jfif" alt="" class="imgAcrol">
            </div>
        </div>
        <div class="contDescPage">
            <h2>Tecnologías utilizadas.</h2>
            <p>
                Estos son los lenguajes de programación y frameworks utilizados para poder realizar con éxito este proyecto.
            </p>
            <div class="contProg">
                <div class="cp">
                    <div class="tp">Plataforma</div>
                    <div class="ip">
                        <img src="../../../../assets/img/icon-programacion/icons8-android-os-100.png" alt="">
                        <h4>Android</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Framework</div>
                    <div class="ip">
                        <img src="../../../../assets/img/icon-programacion/icons8-ionic-100.png" alt="">
                        <h4>Ionic framework</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Backend</div>
                    <div class="ip">
                        <img src="../../../../assets/img/icon-programacion/icons8-laravel-100.png" alt="">
                        <h4>Laravel</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Base de datos</div>
                    <div class="ip">
                        <img src="../../../../assets/img/icon-programacion/icons8-mysql-logo-100.png" alt="">
                        <h4>MySQL</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Electronica</div>
                    <div class="ip">
                        <img src="../../../../assets/img/icon-programacion/icons8-arduino-100.png" alt="">
                        <h4>Arduino</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
