<div class="contHeader">
    <h1>SIVI</h1>
</div>
<div class="contBody">
    <div class="contDescPage">
        <h2>SIVI WALD</h2>
        <p>
            SIVI es una aplicación web desarrollado para la empresa industrias wald.
        </p>
    </div>
    <div class="contDescPage">
        <h3>Sobre el proyecto</h3>
        <p>
            Esta aplicación web está dirigida hacía los vendedores de la empresa, esto con la finalidad de poder llevar un control de los víaticos que les son asginados.
        </p>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="descProject sap">
                <h3>Inicio de sesión</h3>
                <br>
                <p>
                    Esta aplicación web cuenta con autenticación de usuarios en donde solamente vendedores y el encargo del área puede iniciar sesión para poder ver los registros generados por los propios vendedores.
                </p>
            </div>
            <div class="imgProject imgPSAP">
                <img src="../../../../assets/img/SIVI-WALD/SIVI-LOGIN.PNG" alt="" class="imgSAP">
            </div>
        </div>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="imgProject imgPSAP">
                <img src="../../../../assets/img/SIVI-WALD/SIVI-HOME.PNG" alt="" class="imgSAP">
            </div>
            <div class="descProject sap">
                <h3>Página principal</h3>
                <br>
                <p>
                    En la vista principal poremos encontrar información general acerca de los vendedores y del registro de cada factura que van ingresando al sistema. La aplicación web permite subir archivos tanto del tipo imagen como PDF para posteriormente ser descargados.
                </p>
            </div>
        </div>

        <div class="contDescPage">
            <h2>Tecnologías utilizadas.</h2>
            <p>
                Estos son los lenguajes de programación y frameworks utilizados para poder realizar con éxito este proyecto.
            </p>
            <div class="contProg">
                <div class="cp">
                    <div class="tp">Plataforma</div>
                    <div class="ip">
                        <img src="../../../../assets/img/icon-programacion/icons8-chrome-100.png" alt="">
                        <h4>WEB</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Lenguaje</div>
                    <div class="ip">
                        <img src="../../../../assets/img/icon-programacion/icons8-c-sharp-logo-100.png" alt="">
                        <h4>C Sharp</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Framework</div>
                    <div class="ip">
                        <img src="../../../../assets/img/icon-programacion/icons8-asp-100.png" alt="" class="imgASP">
                        <h4>.NET Framework</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Base de datos</div>
                    <div class="ip">
                        <img src="../../../../assets/img/icon-programacion/icons8-microsoft-sql-server-100.png" alt="">
                        <h4>SQL Server</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
