<div class="contHeader">
    <h1>ACERCA DE</h1>
</div>

<div class="contBody">
    <br>
    <div class="contDesc">
        <div class="imgLogo">
            <img src="https://innotech-company.github.io/InnTech/assets/img/itc_logo.png" alt="" class="logo">
        </div>
        <div class="desc">
            <h2>InnTech Company</h2>
            <h3>¿Quiénes somos?</h3>
            <p>
                Somos un grupo de jóvenes con pasión por desarrollar, crear y diseñar sitios, páginas y aplicaciones web, así como también aplicaciones nativas para Android y software basado en la web. Actualmente vivo en la ciudad de Fortín de las flores, Veracruz.
            </p>
        </div>
    </div>
    <div class="contDesc">
        <div class="descDatos">
            <h3>Estos son algunos de los diplomas, certificaciones y habilidades con las que contamos</h3>
        </div>
        <div class="recon">
            <h4>Reconocimiento y certificaciones</h4>
            <nav>
                <ul>
                    <li>Diploma de primer lugar en Bases de datos Transc-SQL</li>
                    <li>Diploma de primer lugar en Seguridad en redes Cisco</li>
                    <li>Diploma de primer lugar en Desarrollo móvil</li>
                    <li>Certificación Cisco ITESSENTIALS</li>
                    <li>Certificación Cisco Routing&Switching I</li>
                    <li>Certificación Cisco Routing&Switching II</li>
                    <li>Certificación Cisco Linux Essentials</li>
                </ul>
            </nav>
        </div>
        <div class="hab">
            <h4>Nuestras habilidades</h4>
            <div class="subhab">
                <nav>
                    <ul>
                        <li>HTML 5</li>
                        <li>CSS 3</li>
                        <li>JavaScript</li>
                        <li>.NET Framwork</li>
                        <li>Java Android</li>
                        <li>Desarrollo web</li>
                    </ul>
                </nav>
            </div>
            <div class="subhab">
                <nav>
                    <ul>
                        <li>Desarrollo backend</li>
                        <li>Desarrollo móvil multiplataforma</li>
                        <li>Administración de bases de datos</li>
                        <li>Administración de servidores Linux</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
