<div class="contHeader">
    <h1>NUESTRO TRABAJO</h1>
</div>
<div class="contBody">

    <div class="contDescPage">
        <h2>Bienvenido, este es nuestro portafolio de trabajo.</h2>
        <p>
            Aquí podrás ver todos los proyectos que hemos realizado, fotos, una descripción sobre que tratan, así como también la tecnología utilizada para desarrollar cada uno de ellos.
        </p>
    </div>
    <div class="contProjects">
        <div class="project sivi">
            <div class="projectBack">
                <div class="contPB">
                    <h4>WALD SIVI</h4>
                    <button class="btn btn-primary" [routerLink]="['/portafolio/sivi']" routerLinkActive="router-link-active">Ver más</button>
                </div>
            </div>
        </div>
        <div class="project rh">
            <div class="projectBack">
                <div class="contPB">
                    <h4>SISTEMA DE RH</h4>
                    <button class="btn btn-primary" [routerLink]="['/portafolio/recursos-humanos']" routerLinkActive="router-link-active">Ver más</button>
                </div>
            </div>
        </div>
        <div class="project tw">
            <div class="projectBack">
                <div class="contPB">
                    <h4>TLACKWALI</h4>
                    <button class="btn btn-primary" [routerLink]="['/portafolio/tlackwali']" routerLinkActive="router-link-active">Ver más</button>
                </div>
            </div>
        </div>
        <div class="project pv">
            <div class="projectBack">
                <div class="contPB">
                    <h4>PUNTO DE VENTAS</h4>
                    <button class="btn btn-primary" [routerLink]="['/portafolio/ventas']" routerLinkActive="router-link-active">Ver más</button>
                </div>
            </div>
        </div>
        <div class="project ap">
            <div class="projectBack">
                <div class="contPB">
                    <h4>ACROL APP</h4>
                    <button class="btn btn-primary" [routerLink]="['/portafolio/acrol']" routerLinkActive="router-link-active">Ver más</button>
                </div>
            </div>
        </div>
        <div class="project ca">
            <div class="projectBack">
                <div class="contPB">
                    <h4>CENTINELA APP</h4>
                    <button class="btn btn-primary" [routerLink]="['/portafolio/centinela']" routerLinkActive="router-link-active">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
