<div class="contHeader">
    <h1>TLACKWALI</h1>
</div>
<div class="contBody">
    <div class="contDescPage">
        <h2>TLACKWALI</h2>
        <p>
            Es una aplicación web desarrollada para el sector de restaurantes.
        </p>
    </div>
    <div class="contDescPage">
        <h3>Sobre el proyecto</h3>
        <p>
            Esta aplicación web cuenta con dos modos, el de administración de productos y servicios, y el de tipo tienda-menú en línea, en donde los clientes podrán tener una cuenta y levantar pedidos de lo que desean consumir.
        </p>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="descProject sap">
                <h3>Inicio de sesión</h3>
                <br>
                <p>
                    Esta aplicación web cuenta con autenticación de usuarios en donde los empleados del sitio y los clientes pueden iniciar sesión para poder administrar el negocio.
                </p>
            </div>
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Tlackwali/TLACK-LOGIN.PNG" alt="" class="imgSAP">
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Tlackwali/TLACK-INICAT.PNG" alt="" class="imgSAP">
            </div>
            <div class="descProject sap">
                <h3>Página de inicio</h3>
                <br>
                <p>
                    En esta página de inicio el cliente tiene una vista general de los productos divididos por categorías que el establecimiento está ofreciendo.
                </p>
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="descProject sap">
                <h3>Lista de productos</h3>
                <br>
                <p>
                    Como podemos observar, el producto promocionado en esta parte destaca con una imagen grande y una descripción del mismo para llamar la atención del comensal.
                </p>
            </div>
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Tlackwali/TLACK-PRODUCTOS.PNG" alt="" class="imgSAP">
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Tlackwali/TLACK-PROD1.PNG" alt="" class="imgSAP">
            </div>
            <div class="descProject sap">
                <h3>Lista de productos</h3>
                <br>
                <p>
                    Esta sección tiene también distintos apartados en donde el restaurante puede hacer micro promociones de sus platillos más demandados o bien, aquellos que son recién integrados al menú.
                </p>
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="descProject sap">
                <h3>Lista de productos</h3>
                <br>
                <p>
                    Como podemos observar, el producto promocionado en esta parte destaca con una imagen grande y una descripción del mismo para llamar la atención del comenzal.
                </p>
            </div>
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Tlackwali/TLACK-PROD2.PNG" alt="" class="imgSAP">
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Tlackwali/TLACK-PERFIL.PNG" alt="" class="imgSAP">
            </div>
            <div class="descProject sap">
                <h3>Perfil de usuario</h3>
                <br>
                <p>
                    Esta sección reúne toda la información acerca del comensal que se ha registrado en la plataforma, de esta manera puede ver y gestionar sus pedidos, así como ver el consumo promedio en el establecimiento.
                </p>
            </div>
        </div>

        <div class="contDescPage">
            <h2>Tecnologías utilizadas.</h2>
            <p>
                Estos son los lenguajes de programación y frameworks utilizados para poder realizar con éxito este proyecto.
            </p>
            <div class="contProg">
                <div class="cp">
                    <div class="tp">Plataforma</div>
                    <div class="ip">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icon-programacion/icons8-chrome-100.png" alt="">
                        <h4>WEB</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Frontend</div>
                    <div class="ip">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icon-programacion/icons8-angularjs-100.png" alt="">
                        <h4>Angular</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Backend</div>
                    <div class="ip">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icon-programacion/icons8-laravel-100.png" alt="" class="imgASP">
                        <h4>Laravel</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Base de datos</div>
                    <div class="ip">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icon-programacion/icons8-postgresql-100.png" alt="">
                        <h4>PostgreSQL</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>