<div class="contHeader">
    <h1>ACROL APP</h1>
</div>
<div class="contBody">
    <div class="contDescPage">
        <h2>ACROL APP</h2>
        <p>
            Acrol App es una aplicación móvil para Android basada en el punto de ventas, pertenecientes a la empresa de autopartes Lubricantes Luna.
        </p>
    </div>
    <div class="contDescPage">
        <h3>Sobre el proyecto</h3>
        <p>
            El objetivo del proyecto es que la empresa antes mencionada pueda gestionar desde su dispositivo móvil las ventas de sus productos, la emisión de remisiones así como también el control y gestión de su almacén, todo desde una aplicación móvil para la plataforma
            de Android.
        </p>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="imgProject">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Acrol/acrol_app.jpeg" alt="" class="imgAcrol">
            </div>
            <div class="descProject">
                <h3>Inicio de sesión</h3>
                <br>
                <p>
                    La aplicación permite la autenticación de usuarios, evitando así que cualquier persona pueda ingresar y alterar los datos, así mismo, la app cuenta con roles de usuario, es decir, que podemos tener, vendedores, administradores, etc.
                </p>
            </div>
        </div>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="descProject">
                <h3>Vista principal</h3>
                <br>
                <p>
                    Tras iniciar sesión, el usuario puede ver una lista de todos los productos que vende, en ella se puede ver información general como lo es la foto del producto, nombre, código y el costo del producto por pieza. La aplicación también cuenta con una barra
                    en la parte posterior, donde tenemos dos opciones, la primera que es la vista principal y la segunda que nos lleva a un menú en dónde encontraremos más opciones
                </p>
            </div>
            <div class="imgProject">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Acrol/acrol_app1.png" alt="" class="imgAcrol">
            </div>
        </div>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="imgProject">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Acrol/acrol_app2.png" alt="" class="imgAcrol">
            </div>
            <div class="descProject">
                <h3>Menú de opciones</h3>
                <br>
                <p>
                    El menú muestra diversas opciones con las que cuenta el usuario, desde aquí podemos controlar el almacén, las salidas de los productos, las compras a los proveedores, las remisiones emitidas a los clientes que compran el productos, etcétera.
                </p>
            </div>
        </div>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="descProject">
                <h3>Almacén</h3>
                <br>
                <p>
                    Aquí podemos ver una de las opciones con las que cuenta la aplicación, en este caso el control del almacén, aquí podemos el stock que se tiene por cada productos, así como también la fecha en que se ingresó el producto, siendo que esta se actualiza cada
                    vez que alguien registra una compra a los proveedores.
                </p>
            </div>
            <div class="imgProject">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Acrol/acrol_app3.png" alt="" class="imgAcrol">
            </div>
        </div>

        <div class="contDescPage">
            <h2>Tecnologías utilizadas.</h2>
            <p>
                Estos son los lenguajes de programación y frameworks utilizados para poder realizar con éxito este proyecto.
            </p>
            <div class="contProg">
                <div class="cp">
                    <div class="tp">Plataforma</div>
                    <div class="ip">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icon-programacion/icons8-android-os-100.png" alt="">
                        <h4>Android</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Lenguaje</div>
                    <div class="ip">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icon-programacion/icons8-java-100.png" alt="">
                        <h4>Java</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Backend</div>
                    <div class="ip">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icon-programacion/icons8-laravel-100.png" alt="">
                        <h4>Laravel</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Base de datos</div>
                    <div class="ip">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icon-programacion/icons8-postgresql-100.png" alt="">
                        <h4>PostgreSQL</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>