<div class="contHeader">
    <h1 class="t1h">INNOVACIÓN Y TECNOLOGÍA</h1>
    <h1 class="t2h">Desarrollo</h1>
    <h1 class="t2h">Web & Móvil</h1>
    <button class="btn" [routerLink]="['/servicios']">Ver servicios</button>
</div>
<div class="contBody">
  <div class="cbh">
    <h1 class="tcb1">Sobre nosotros</h1>
    <p class="tcb2">Somos una empresa fortinense 100% mexicana dedicada al desarrollo e innovación de software. Contamos con más de 3 años de experiencia ofreciendo a nuestros clientes soluciones personalizadas que garantizan un mejor  desempeño y rentabilidad.</p>
  </div>

  <div class="cbh">
    <h1 class="tcb1">Nuestros procesos</h1>
  </div>
</div>
