<div class="banner">
  <div class="cont">
    <app-menu></app-menu>
    <div class="contHeader">
      <h1 class="t1h">INNOVACIÓN Y TECNOLOGÍA</h1>
      <h1 class="t2h">Desarrollo</h1>
      <h1 class="t2h">Web & Móvil</h1>
      <button class="btn" [routerLink]="['/servicios']">Ver servicios</button>
    </div>
  </div>
</div>
<div class="contBody">
  <div class="cbh">
    <h1 class="tcb1">Sobre nosotros</h1>
    <p class="tcb2">Somos una empresa fortinense 100% mexicana dedicada al desarrollo e innovación de software. Contamos
      con más de 3 años de experiencia ofreciendo a nuestros clientes soluciones personalizadas que garantizan un mejor
      desempeño y rentabilidad.</p>
  </div>

  <div class="cbh">
    <h1 class="tcb1">Nuestros procesos</h1>

    <div class="icb">
      <div class="iop">
        <img src="assets/icons/RequisitosIcon.png" alt="Requisitos png">
        <p class="tiop">Requisitos</p>
        <p>Recabación de requisitos funcionales y no funcionales.</p>
      </div>
      <div class="iop">
        <img src="assets/icons/DesignIcon.png" alt="Diseño png">
        <p class="tiop">Diseño & Propuesta</p>
        <p>Propuesta de diseño sobre el producto final.</p>
      </div>
      <div class="iop">
        <img src="assets/icons/DevelopmentIcon.png" alt="Desarrollo png">
        <p class="tiop">Desarrollo</p>
        <p>Programación de cada uno de los componentes.</p>
      </div>
      <div class="iop">
        <img src="assets/icons/TestingIcon.png" alt="Testing png">
        <p class="tiop">Testing</p>
        <p>Pruebas de testing con el cliente final.</p>
      </div>
      <div class="iop">
        <img src="assets/icons/DeploymentIcon.png" alt="Deployment png">
        <p class="tiop">Lanzamiento</p>
        <p>Despligue del proyecto final conforme a los requisitos.</p>
      </div>
    </div>

  </div>

  <div class="cam">
    <p class="mobile">MOBILE</p>
    <div class="scam">
      <div class="cscam">
        <div class="scscam">
          <p class="tscscam">Aplicaciones móviles</p>
          <p class="cscscam">Desarrollamos aplicaciones móviles modernas nativas para los dispositivos Android y
            multiplataforma para poder dar soporte a dispositivos IOS.</p>
        </div>
      </div>
      <div class="cscam">
        <div class="scscam imgcCam">
          <img src="assets/icons/talakayoj_mobile.png" class="imgCam" alt="tlk png">
        </div>
      </div>
    </div>
  </div>
</div>
