<div class="contHeader">
    <h1>SISTEMA DE RH</h1>
</div>
<div class="contBody">
    <div class="contDescPage">
        <h2>SRH</h2>
        <p>
            El sistema de RH es un software de escritorio desarrollado para dicho departamento de la empresa Industrias Wald.
        </p>
    </div>
    <div class="contDescPage">
        <h3>Sobre el proyecto</h3>
        <p>
            La finalidad de este proyecto es poder llevar un registro de los empleados que laboran en dicha empresa, dentro del sistema se almacena información personal de cada empleado, así como también salidas, el historial, etcétera.
        </p>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="imgProject">
                <img src="../../../../assets/img/SAP-WALD/SAP-LOGIN.PNG" alt="" class="imgAcrol">
            </div>
            <div class="descProject">
                <h3>Inicio de sesión</h3>
                <br>
                <p>
                    Este sistema así como muchas de las aplicaciones móviles y web que desarrollamos cuenta con un sistema de autenticación de usuarios, esto para prevenir el uso mal intencionado del mimso por parte de personal no autorizado.
                </p>
            </div>
        </div>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="descProject sap">
                <h3>Vista principal</h3>
                <br>
                <p>
                    En la vista principal nos encontramos con un resumen de lo que se puede realizar dentro del sistema. A un costado nos encontramos con un menú de opciones
                </p>
            </div>
            <div class="imgProject imgPSAP">
                <img src="../../../../assets/img/SAP-WALD/SAP-INICIO.PNG" alt="" class="imgSAP">
            </div>
        </div>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="imgProject imgPSAP">
                <img src="../../../../assets/img/SAP-WALD/SAP-USUARIOS.PNG" alt="" class="imgSAP">
            </div>
            <div class="descProject sap">
                <h3>Administradores</h3>
                <br>
                <p>
                    En este apartado podemos registrar a un nuevo adminsitrador, del cual, el sistema nos pide sus datos básicos, este administrador pasa también a formar parte de la lista de empleados.
                </p>
            </div>
        </div>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="descProject sap">
                <h3>Personal</h3>
                <br>
                <p>
                    Aquí podemos registrar a los empleados, dentro de la información que se registra está el Número de Seguridad Social, el área a la que pertenece, una foto de el/ella, entre otros datos más de interés para la empresa.
                </p>
            </div>
            <div class="imgProject imgPSAP">
                <img src="../../../../assets/img/SAP-WALD/SAP-PERSONAL.PNG" alt="" class="imgSAP">
            </div>
        </div>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="imgProject imgPSAP">
                <img src="../../../../assets/img/SAP-WALD/SAP-PERMISOS.PNG" alt="" class="imgSAP">
            </div>
            <div class="descProject sap">
                <h3>Permisos</h3>
                <br>
                <p>
                    El sistema permite llevar un registro de los permisos que se le van otorgando a cada uno de los empleados, la fecha en que se emitió y la fecha en que vence el permiso.
                </p>
            </div>
        </div>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="descProject sap">
                <h3>Historial</h3>
                <br>
                <p>
                    El sistema también permite llevar un historial sobre el comportamiento de cada uno de los empleados, esto para poder definir accines futuras a tomar si el comportamiento del mismo es negativo para la empresa.
                </p>
            </div>
            <div class="imgProject imgPSAP">
                <img src="../../../../assets/img/SAP-WALD/SAP-HISTORIAL.PNG" alt="" class="imgSAP">
            </div>
        </div>
        <div class="contDescPage">
            <h2>Tecnologías utilizadas.</h2>
            <p>
                Estos son los lenguajes de programación y frameworks utilizados para poder realizar con éxito este proyecto.
            </p>
            <div class="contProg">
                <div class="cp">
                    <div class="tp">Plataforma</div>
                    <div class="ip">
                        <img src="../../../../assets/img/icon-programacion/icons8-windows-10-100.png" alt="">
                        <h4>Windows 10</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Lenguaje</div>
                    <div class="ip">
                        <img src="../../../../assets/img/icon-programacion/icons8-c-sharp-logo-100.png" alt="">
                        <h4>C Sharp</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Base de datos</div>
                    <div class="ip">
                        <img src="../../../../assets/img/icon-programacion/icons8-microsoft-sql-server-100.png" alt="">
                        <h4>SQL Server</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
