<div class="contHeader">
    <h1>SISTEMA PUNTO DE VENTAS DE AUTO PARTES</h1>
</div>
<div class="contBody">
    <div class="contDescPage">
        <h2>SPVAP</h2>
        <p>
            Es una aplicación web especialmente para el sector de las autopartes.
        </p>
    </div>
    <div class="contDescPage">
        <h3>Sobre el proyecto</h3>
        <p>
            Esta aplicación web permite gestionar desde un negocio pequeño a través de diferentes módulos con los cuales el usuario podrá tener el control total sobre las ventas de su negocio.
        </p>
    </div>
    <div class="contProject">
        <div class="project">
            <div class="descProject sap">
                <h3>Inicio de sesión</h3>
                <br>
                <p>
                    Esta aplicación web cuenta con autenticación de usuarios en donde los empleados del sitio pueden iniciar sesión para poder administrar los productos, pedidos y almacén del negocio.
                </p>
            </div>
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Punto-Ventas/login.PNG" alt="" class="imgSAP">
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Punto-Ventas/bienvenida.PNG" alt="" class="imgSAP">
            </div>
            <div class="descProject sap">
                <h3>Página de inicio</h3>
                <br>
                <p>
                    En la página de inicio podremos tener una lista general de los productos añadidos recientemente así como también tres paneles que muestran información general sobre la cantidad total de productos, remisiones y clientes.
                </p>
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="descProject sap">
                <h3>Lista de productos</h3>
                <br>
                <p>
                    Esta vista está diseñada al estilo de tienda en línea, donde podremos observar una foto del producto así como detalles del mismo tales como su código, descripción y precio.
                </p>
            </div>
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Punto-Ventas/pagina_principal.PNG" alt="" class="imgSAP">
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Punto-Ventas/lista_productos.PNG" alt="" class="imgSAP">
            </div>
            <div class="descProject sap">
                <h3>Lista de productos</h3>
                <br>
                <p>
                    Esta sección cuenta con una tabla con datos similares a la vista anterior, sin embargo aquí contaremos con funciones de administrador, las cuales permitirán editar o eliminar algún producto.
                </p>
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="descProject sap">
                <h3>Administración de productos</h3>
                <br>
                <p>
                    Como podemos observar, la aplicación web cuenta también con una vista que permite añadir un nuevo producto o bien editarlo.
                </p>
            </div>
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Punto-Ventas/registro_productos.PNG" alt="" class="imgSAP">
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Punto-Ventas/lista_compras.PNG" alt="" class="imgSAP">
            </div>
            <div class="descProject sap">
                <h3>Lista de compras</h3>
                <br>
                <p>
                    La aplicación web permite también llevar un control de las ventas realizadas a los proveedores del negocio, desde aquí podremos gestionar el ingreso al almacén de algún producto, en donde indicaremos la cantidad y la fecha de ingreso.
                </p>
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="descProject sap">
                <h3>Lista de remisiones</h3>
                <br>
                <p>
                    La aplicación web permite emitir remisiones suplantando por completo la remisión a papel, de esta forma tendremos de manera segura cada una de ellas en nuestra base de datos, cabe señalar que estas remisiones son generadas en automático con tan solo un
                    click.
                </p>
            </div>
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Punto-Ventas/remisiones.PNG" alt="" class="imgSAP">
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Punto-Ventas/detalles_remision.PNG" alt="" class="imgSAP">
            </div>
            <div class="descProject sap">
                <h3>Detalles de remisión</h3>
                <br>
                <p>
                    Aquí podremos ingresar todos los detalles relacionados con la remisión que queremos emitir, tales como el cliente al que va dirigida, los productos que se desean adquirir y la propia emisión del ticket.
                </p>
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="descProject sap">
                <h3>Detalles de remisión</h3>
                <br>
                <p>
                    Como podemos observar, en los detalles de la remisión podemos añadir el o los productos que nuestro cliente desea comprar, aquí se nos mostrarán los detalles tales como el precio antes de IVA, precio con IVA, el Subtotal y el Total.
                </p>
            </div>
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Punto-Ventas/detalles_remision_productos.PNG" alt="" class="imgSAP">
            </div>
        </div>
    </div>

    <div class="contProject">
        <div class="project">
            <div class="imgProject imgPSAP">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/Punto-Ventas/tiket.PNG" alt="" class="imgSAP">
            </div>
            <div class="descProject sap">
                <h3>Ticket</h3>
                <br>
                <p>
                    Por último contamos con la generación del ticket, este tiene soporte para poder ser impreso en mini impresoras para tickets y en formato PDF.
                </p>
            </div>
        </div>

        <div class="contDescPage">
            <h2>Tecnologías utilizadas.</h2>
            <p>
                Estos son los lenguajes de programación y frameworks utilizados para poder realizar con éxito este proyecto.
            </p>
            <div class="contProg">
                <div class="cp">
                    <div class="tp">Plataforma</div>
                    <div class="ip">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icon-programacion/icons8-chrome-100.png" alt="">
                        <h4>WEB</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Frontend</div>
                    <div class="ip">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icon-programacion/icons8-angularjs-100.png" alt="">
                        <h4>Angular</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Backend</div>
                    <div class="ip">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icon-programacion/icons8-laravel-100.png" alt="" class="imgASP">
                        <h4>Laravel</h4>
                    </div>
                </div>
                <div class="cp">
                    <div class="tp">Base de datos</div>
                    <div class="ip">
                        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icon-programacion/icons8-postgresql-100.png" alt="">
                        <h4>PostgreSQL</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>